asgiref==3.8.0
bleach==6.1.0
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
distlib==0.3.8
dj-database-url==2.1.0
Django==5.0.3
django-summernote==0.8.20.0
filelock==3.13.4
fontawesomefree==6.5.1
google-auth==2.28.2
google-auth-oauthlib==1.2.0
gspread==6.0.2
idna==3.6
oauthlib==3.2.2
pillow==10.3.0
platformdirs==4.2.0
psycopg2-binary==2.9.8
pyasn1==0.5.1
pyasn1-modules==0.3.0
python-decouple==3.8
requests==2.31.0
requests-oauthlib==1.4.0
rsa==4.9
six==1.16.0
sqlparse==0.4.4
StrEnum==0.4.15
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.25.3
webencodings==0.5.1
