{% extends 'base/base.html' %} {% load static %} {% block content %}
<a href="{% url  'account' %}">Back</a>
<div class="page_ctn">
  {% if page == 'edit' %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{ profile_form.as_p }}
    <input type="submit" />
  </form>
  {% endif %} {% if page == 'view' %}
  <h1 class="page_section_heading">Profile</h1>
  <div class="profile_header">
    <div class="profile_avatar_ctn">
      <img class="profile_avatar" src="{{ user.profile.avatar.url }}" />
    </div>
    <h3>{{ profile.user.username|title }}</h3>
    <p>{{ profile.bio }}</p>
    <small class="w-full text-right">
      <a href="{% url 'settings' %}?q=edit" class="action_link user">
        <i class="fa-solid fa-gear"></i>
      </a>
    </small>
  </div>

  <h1 class="page_section_heading">Shipping options</h1>
  {% if addresses|length == 0 %}
  <p>You have not provided an address yet.</p>
  <a href="{% url 'settings' %}?q=address" class="user_action_link w-full text-right">Add an address
    <i class="fa-solid fa-plus"></i>
  </a>
  {% else %}
  {% for address in addresses %}
  <article class="card {% if address.default %} default {% endif %}">
    <div>
      {% if address.default %}
      <small>Default address
        <i class="fa-solid fa-circle-check primary"></i>
      </small>
      
        {% endif %}
      </div>
      <p>
        {{ address.address }}<br />
        {{ address.postcode }} {{ address.city }}<br />
        {{ address.country }}
      </p>
      <small>Additional info: {{ address.additional }}</small>
      <span class="flex w-full">
        <small class="w-half">
          {% if not address.default %}
          <a href="{% url 'set_default' address.id %}" class=""
            >Set as default
          </a>
          {% endif %}
        </small>
        <small class="w-half text-right">
          <a href="{% url 'settings' %}?q=address&id={{ address.id }}" class="user_action_link">
            <i class="fa-solid fa-pen"></i>
          </a>
          <a href="{% url 'delete_address' address.id %}" class="user_action_link text-right destructive">
            <i class="fa-solid fa-trash"></i>
          </a>
        </small>
      </span>
    </article>
    {% endfor %}
  </div>
  <a href="{% url 'settings' %}?q=address">+ New address</a>
  {% endif %} {% endif %} {% if page == 'address' %}
  <form method="POST">
    {% csrf_token %} {{ address_form.as_p }}
    <input type="submit" />
    {{ address_form.errors }}
  </form>
  {% endif %}
</div>
{% endblock content %}
