{% extends 'base/base.html' %} {% load static %} {% block content %}
<h1>Settings for {{ profile.user.username }}</h1>
{% if page == 'edit' %}
<form method="POST">
  {% csrf_token %} {{ profile_form.as_p }}
  <input type="submit" />
</form>
{% endif %} {% if page == 'view' %}
<h1>Your profile</h1>
<button>
  <a href="{% url 'settings' %}?q=edit">Edit profile</a>
</button>
<div class="profile_row">
  <h2>Name:</h2>
  <p>{{ profile.user.username }}</p>
</div>
<h2>About you:</h2>
<div class="profile_avatar_ctn">
  <img class="profile_avatar" src="/{{ profile.avatar }}" />
</div>
<p>{{ profile.bio }}</p>
{% endif %} {% endblock content %}
