{% extends 'shop/base.html' %}
 
{% block content %}

<h1>Checkout</h1>
<a href="{% url 'basket' %}">Return to basket</a>
    <form method="POST">
        <ul class="checkout_list">
            {% for order in basket %}
            <li class='checkout_item'>
                <p class="name">{{ order.product.name }}</p>
                <p class="price">{{ order.product.price }} x {{ order.quantity }}</p>
                <p><strong>{{ order.total }}</strong></p>
            </li>
            {% endfor %}
        </ul>
        <h2>{{ total }}</h2>
        <input type="submit" value="Buy"/>
    </form>
{% endblock content %}