:root {
    --clr-bg-primary: white;
    --clr-bg-secondary: white;
    --clr-txt-primary: black;
    --clr-txt-secondary: rgb(146, 146, 146);
    --clr-cta-primary: rgb(44, 195, 255) ;
    --clr-cta-secondary: rgb(191, 237, 255);

    --box-shadow: 1px 5px 10px 2px rgba(128, 128, 128, 0.1);
    --box-padding: 1rem 2.5rem;
    --action_link-padding: .5rem 1rem;
    --action_link-radius: 6px;
    }


    body {
        color: rgb(66, 66, 66)
    }
.hamburger_trigger {
    border: 1px solid rgb(155, 163, 197);
    height: 40px;
    width:40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        border-radius: 100%;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.profile_row {
    display: flex;
    align-items: center;
}

.profile_avatar_ctn {
    height: 5em;
    width: 5em;
    border-radius: 100%;
    overflow: hidden;
}

.profile_avatar {
    height: 100%;
    object-fit: cover;
}


.btn_main {
    border-radius: 6px;
    background-color: var(--clr-cta-secondary);
    border: 1px solid var(--clr-cta-primary);
    padding: 1em;
    transition: all 250ms ease-in-out;

    a {
        text-decoration: none;
        color: var(--clr-cta-primary);
        text-transform: capitalize;
    }

}

.btn_main:hover:not(.disabled) {
    background-color: transparent;
}

.btn_main.disabled {
    color: grey;
    background-color: white;
}

.btn_secondary {
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid var(--clr-cta-primary);
    color: var(--clr-cta-primary);
    padding: .5em;
    max-width: 150px;
    transition: all 250ms ease-in-out;
    
    a {
        text-decoration: none;
        color: var(--clr-cta-primary);
        text-transform: capitalize;
    }
    
}

.btn_secondary:hover {
    background-color: var(--clr-bg-secondary);
}

.default {
    border: 2px solid skyblue;
}

.card {
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    display: flex;
    padding: .5em;
    flex-direction: column;
    padding: var(--box-padding);

}

.page_ctn {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
    width: calc(100svw - 1.25rem);
    padding: 0 2.5rem;
}


.action_link,
.action_link:hover {
    text-decoration: none;
    border-radius: 16px;
    cursor: pointer;
    
    > * {
        color: inherit;
        text-decoration: none;
        margin: none;
    }
}

.action_link.user {
    color: black;
}

.action_link.admin {
    cursor: pointer;
    border-radius: var(--action_link-radius);
    min-width: 2.5rem;
    justify-content: center;
    padding: var(--action_link-padding);
    display: flex;
    align-items: center;
    gap: .25em;
    text-decoration: none;
    transition: 250ms ease-in-out all;
    background-color: orange;
    color: white;
    border: 1px solid transparent;
}

.action_link.admin:hover {
    border: 1px solid orange;
    background-color: white;
    color: orange;
}

/**
============================================== 
            Login & Register pages
============================================== 
 */

.login_register_forms {
    display: flex;
    flex-direction: column;
} 


.form_ctn > form > h1 {
    text-align: center;
}


.form_ctn > form {
    gap: 1em;
    margin: 0 auto;
    
}

.form_ctn > form > div > label {
    font-size: larger;
    
}
.form_ctn > form > div > input {
    width: 100%;
}

.helptext {
    color: salmon
}

#id_password1_helptext > ul > li {
    list-style: none;
    color: salmon

}


 input {
    padding: .75em;
    background-color: transparent;
    border-radius: var(--action_link-radius);
    border: 1px solid var(--clr-cta-primary);
}


/**
============================================== 
Utility classes - heavily inspired by tailwind 
============================================== 

 */


.flex {
    display: flex;
}

.w-full {
    width: 100%;
}

.w-half {
    width: 50%;
}

.justify-center {
    justify-content: center;
    text-align: center;
}
.justify-between {
    justify-content: space-between;
    text-align: center;
}
.justify-center {
    justify-content: space-between;
    text-align: center;
}


.wrap {
    flex-wrap: wrap;
}

.text-right {
    text-align: end;
}

.text-left {
    text-align: start;
}

.items-center {
    align-items: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
}

.destructive {
    color: crimson
}

.gap-1 {
    gap: 2.5rem;
}