:root {
    --clr-bg-primary: white;
    --clr-bg-secondary: white;
    --clr-txt-primary: black;
    --clr-txt-secondary: rgb(146, 146, 146);
    --clr-cta-primary: rgb(0, 111, 155) ;
    --clr-cta-secondary: skyblue;

    --box-shadow: 1px 5px 10px 2px rgba(128, 128, 128, 0.1);
    --box-padding: 1rem 2.5rem;
    }

.hamburger_trigger {
    border: 1px solid rgb(155, 163, 197);
    height: 40px;
    width:40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        border-radius: 100%;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.profile_row {
    display: flex;
    align-items: center;
}

.profile_avatar_ctn {
    height: 5em;
    width: 5em;
    border-radius: 100%;
    overflow: hidden;
}

.profile_avatar {
    height: 100%;
    object-fit: cover;
}


.btn_main {
    border-radius: 6px;
    background-color: var(--clr-cta-secondary);
    border: 1px solid var(--clr-cta-primary);
    padding: 1em;
    max-width: 150px;
    transition: all 250ms ease-in-out;

    a {
        text-decoration: none;
        color: var(--clr-cta-primary);
        text-transform: capitalize;
    }

}

.btn_main:hover:not(.disabled) {
    background-color: transparent;
}

.btn_main.disabled {
    color: grey;
    background-color: white;
}

.btn_secondary {
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid var(--clr-cta-primary);
    color: var(--clr-cta-primary);
    padding: .5em;
    max-width: 150px;
    transition: all 250ms ease-in-out;
    
    a {
        text-decoration: none;
        color: var(--clr-cta-primary);
        text-transform: capitalize;
    }
    
}

.btn_secondary:hover {
    background-color: var(--clr-bg-secondary);
}

.default {
    border: 2px solid skyblue;
}

.card {
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    display: flex;
    padding: .5em;
    flex-direction: column;
    padding: var(--box-padding);
}

.page_ctn {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
    width: calc(100svw - 1.25rem);
    padding: 0 2.5rem;
}

.user_action_link {
    text-decoration: none;
    color: black;
    border-radius: 16px;
    min-width: 1.5rem;
    min-height: 1rem;
}

/**
============================================== 
Utility classes - heavily inspired by tailwind 
============================================== 

 */

.flex {
    display: flex;
}

.w-full {
    width: 100%;
}

.w-half {
    width: 50%;
}

.justify-center {
    justify-content: center;
    text-align: center;
}
.justify-center {
    justify-content: space-between;
    text-align: center;
}

.text-right {
    text-align: end;
}

.text-left {
    text-align: start;

}



.items-center {
    align-items: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
}

.destructive {
    color: crimson
}