{% block content %} {% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"
      ><span class="brand">TheShop</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == home_url %}active{% endif %}"
            aria-current="page"
            href="{% url 'home' %}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == 'about' %}active{% endif %}"
            aria-current="page"
            href="{% url 'about' %}"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == 'shop' %}active{% endif %}"
            aria-current="page"
            href="{% url 'shop' %}"
            >Shop</a
          >
        </li>

        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == 'user_logout' %}active{% endif %}"
            aria-current="page"
            href="{% url 'user_logout' %}"
            >Logout</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == 'basket' %}active{% endif %}"
            aria-current="page"
            href="{% url 'basket' %}"
            >View basket</a
          >
        </li>
        {% else %}
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == 'login_register' %}active{% endif %}"
            aria-current="page"
            href="{% url 'login_register' %}"
            >Login</a
          >
        </li>
        {% endif %}
      </ul>
      <form method="POST">
        {% csrf_token %}
        <input type="search" placeholder="Search products..." name="search" />
        <input type="submit" />
      </form>
      {% if request.user.is_authenticated %}
      <a class="hamburger_trigger" href="{% url 'account' %}">
        {% if request.user.profile.avatar %}
        <img src="{{ request.user.profile.avatar.url }}" alt="user avatar" />
        {% else %}
        <i class="fa-solid fa-user" size="4xl"></i>
        {% endif %}
      </a>
      {% endif %}
    </div>
  </div>
</nav>
{% endblock %}
